html {
  font-size: 14px;
  color: #ffffff;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.home-banner {
    text-align: center;
    padding: 50px;
    background: #2563EB;
    border-radius: 8px;
    color: #ffffff;
    font-style: bold;
}

.Head-text {
text-align: center;
font-size: large;
font-weight: bold;
}


.mid-text{
  text-align: center;
  font-size: small;
 padding-top: 20px;
}

body {
  margin-bottom: 60px;
  background-color:#F8FAFC;
  color: #0F172A;
}







.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}